<!DOCTYPE html>
<html>
	<head>
	<title>Analytic Hierarchy Process</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
	</head>
	<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
					<div class="nav-collapse collapse">
							<ul class="nav">
								<li class="">
									<a href="{% url 'home' %}">Home</a>
								</li>
							</ul>
						</div>
			</div>
		</div>
	</div>

	<header id="overview">
		<div class="container">
			<h1>
				Analytic Hierarchy Process
			</h1>
			<p>
				Metoda Analytic Hierarchy Process (AHP) – jedna z wielokryterialnych metod hierarchicznej analizy problemów decyzyjnych. Umożliwia ona dekompozycję złożonego problemu decyzyjnego oraz utworzenie rankingu finalnego dla skończonego zbioru wariantów. Metoda została opracowana w 1970 roku przez Thomasa L. Saatiego i jest wykorzystywana w wielu dziedzinach takich jak: zarządzanie, politologia, socjologia, wytwarzanie, czy transport[1]. Metoda jest zaliczana do amerykańskiej szkoły wielokryterialnego podejmowania decyzji (MCDM).
			</p>
			<a href="http://pl.wikipedia.org/wiki/Analytic_Hierarchy_Process" class="pull-right comment-link">@wikipedia</a>
		</div>
	</header>
	
	<section class="description">
		<div class="container">
			
		</div>
	</section>
	


	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</body>
</html>