<!DOCTYPE html>
<html>
	<head>
	{% block title %}
	<title>Algorytm AHP</title>
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Bootstrap -->
	<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" media="screen">
  <script>

	$(document).ready(function() {
	    $(".img-tooltip").tooltip();
	});

	</script>

	{% block head %}{% endblock %}

	</head>
	<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
					<div class="nav-collapse collapse">
							<ul class="nav">
								<li>
									<a href="{% url 'home' %}">top</a>
								</li>
								<li>
									<a href="{% url 'algorithm' %}">algorytm</a>
								</li>
							</ul>
						</div>
			</div>
		</div>
	</div>

	{% block body %}

	{% endblock %}

	
	<footer class="footer">
      <div class="container">
        <p>Aplikacja przygotowana została na potrzeby projektu z kursu: "Systemy wspomagania decyzji"</p>
        <p>Politechnika Wrocławska, W8, Informatyka, II stopień (magisterskie), I semestr, 2012/2013</p>
        <ul>
        	<li><a href="https://www.djangoproject.com/">Django</a></li>
        	<li><a href="https://www.heroku.com/">Heroku</a></li>
          <li><a href="http://twitter.github.io/bootstrap/">Bootstrap</a></li>
        </ul>
      </div>
    </footer>

	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</body>
</html>