{% extends 'core/base.html' %}

{% block body %}

<header id="overview">
		<div class="container">
			<h1>
				Analytic Hierarchy Process
			</h1>
			<p class="justify">
				Metoda Analytic Hierarchy Process (AHP) – jedna z wielokryterialnych metod hierarchicznej analizy problemów decyzyjnych. Umożliwia ona dekompozycję złożonego problemu decyzyjnego oraz utworzenie rankingu finalnego dla skończonego zbioru wariantów. Metoda została opracowana w 1970 roku przez Thomasa L. Saatiego i jest wykorzystywana w wielu dziedzinach takich jak: zarządzanie, politologia, socjologia, wytwarzanie, czy transport[1]. Metoda jest zaliczana do amerykańskiej szkoły wielokryterialnego podejmowania decyzji (MCDM).
			</p>
			<a href="http://pl.wikipedia.org/wiki/Analytic_Hierarchy_Process" class="pull-right comment-link">@wikipedia</a>
		</div>
	</header>
	
	<section class="description">
		<div class="container">
			<h2>Wykorzystanie algorytmu AHP.</h2>
			<p class="justify">
				Algorytm ahp zostanie wykorzystany do wyboru jednego spośród czterech telefonów. W najprostszej wersji użytkownik musi wypełnić macierz porównań kryteriów oraz macierze porównań decyzji. W tej wersji również są narzucone kryteria (ich liczba oraz rodzaj).
			</p>

			<p class="justify">
				Jak czas pozwoli, interface do algorytmu zostanie rozbudowany o łatwiesze (bardziej intuicyjne) wprowadzanie danych oraz na konfigurowanie przedmiotów oraz kryteriów.
			</p>

		</div>
	</section>

	<section class="description">
		<div class="container">
			<h2>Przykład.</h2>

			<p>Potrzebujemy pomocy w zdecydowaniu który z tych smartphone'ów nam najlepiej odpowiada:</p>

			<div class="row">
				<div class="span3">
					<img src="{{ STATIC_URL }}img/bbz10.jpg" class="img-polaroid img-tooltip" data-toggle="tooltip" data-placement="top" title=""  data-original-title="http://blogs.blackberry.com/2013/01/blackberry-z10-video/">
				</div>
				<div class="span3">
					<img src="{{ STATIC_URL }}img/ip5.jpg" class="img-polaroid img-tooltip" data-toggle="tooltip" data-placement="top" title=""  data-original-title="http://www.tio.pl/iphone-5-64-gb-bialy-produkt-5565.html">
				</div>
				<div class="span3">
					<img src="{{ STATIC_URL }}img/gs4.JPG" class="img-polaroid img-tooltip" data-toggle="tooltip" data-placement="top" title=""  data-original-title="http://www.techradar.com/reviews/phones/mobile-phones/samsung-galaxy-s4-1137602/review">
				</div>
				<div class="span3">
					<img src="{{ STATIC_URL }}img/sxz.png" class="img-polaroid img-tooltip" data-toggle="tooltip" data-placement="top" title=""  data-original-title="http://www.phonearena.com/news/Sony-Xperia-Z-sold-out-in-some-markets-bodes-well-for-Sonys-2013_id40724">
				</div>
			</div>

			<div class="row">
				<div class="span3">
					<h5>BlackBerry Z10</h5>
				</div>
				<div class="span3">
					<h5>IPhone 5</h5>
				</div>
				<div class="span3">
					<h5>Samsung Galaxy S4</h5>
				</div>
				<div class="span3">
					<h5>Sony Xperia Z</h5>
				</div>
			</div>
		
			<hr class="bs-docs-separator">
			
			<p class="justify">
				Porównujemy te modele telefonów pod względem czterech kryteriów: <strong>cena</strong>, <strong>parametry</strong>, <strong>wykonanie</strong> oraz <strong>wyświetlacz</strong>. Musimy uzupełnić 5 macierzy.
			</p>

			<dl>
			  <dt>Macierz porównań kryteriów</dt>
			  <dd>
					<table class="table table-bordered table-hover matrix">
						<thead>
							<tr>
								<th></th>
								<th>cena</th>
								<th>parametry</th>
								<th>wykoanie</th>
								<th>wyświetlacz</th>
							</tr>
							<tbody>
								<tr>
									<th>cena</th>
									<td>1</td>
									<td>3</td>
									<td>7</td>
									<td>9</td>
								</tr>
								<tr>
									<th>parametry</th>
									<td>1/3</td>
									<td>1</td>
									<td>3</td>
									<td>7</td>
								</tr>
								<tr>
									<th>wykoanie</th>
									<td>1/7</td>
									<td>1/3</td>
									<td>1</td>
									<td>3</td>
								</tr>
								<tr>
									<th>wyświetlacz</th>
									<td>1/9</td>
									<td>1/7</td>
									<td>1/3</td>
									<td>1</td>
								</tr>
							</tbody>
						</thead>
					</table>
			  </dd>
			  <dt>Macierz porównań decyzji dla kryterium cena:</dt>
			  <dd>
					<table class="table table-bordered table-hover matrix">
						<thead>
							<tr>
								<th></th>
								<th>BlackBerry Z10</th>
								<th>IPhone 5</th>
								<th>Samsung Galaxy S4</th>
								<th>Sony Xperia Z</th>
							</tr>
							<tbody>
								<tr>
									<th>BlackBerry Z10</th>
									<td>1</td>
									<td>9</td>
									<td>7</td>
									<td>5</td>
								</tr>
								<tr>
									<th>IPhone 5</th>
									<td>1/9</td>
									<td>1</td>
									<td>7</td>
									<td>5</td>
								</tr>
								<tr>
									<th>Samsung Galaxy S4</th>
									<td>1/7</td>
									<td>1/7</td>
									<td>1</td>
									<td>3</td>
								</tr>
								<tr>
									<th>Sony Xperia Z</th>
									<td>1/5</td>
									<td>1/5</td>
									<td>1/3</td>
									<td>1</td>
								</tr>
							</tbody>
						</thead>
					</table>
			  </dd>
			  <dt>Macierz porównań decyzji dla kryterium parametry:</dt>
			  <dd>
					<table class="table table-bordered table-hover matrix">
						<thead>
							<tr>
								<th></th>
								<th>BlackBerry Z10</th>
								<th>IPhone 5</th>
								<th>Samsung Galaxy S4</th>
								<th>Sony Xperia Z</th>
							</tr>
							<tbody>
								<tr>
									<th>BlackBerry Z10</th>
									<td>1</td>
									<td>1</td>
									<td>1/7</td>
									<td>2</td>
								</tr>
								<tr>
									<th>IPhone 5</th>
									<td>1</td>
									<td>1</td>
									<td>1/7</td>
									<td>2</td>
								</tr>
								<tr>
									<th>Samsung Galaxy S4</th>
									<td>7</td>
									<td>7</td>
									<td>1</td>
									<td>9</td>
								</tr>
								<tr>
									<th>Sony Xperia Z</th>
									<td>1/2</td>
									<td>1/2</td>
									<td>1/9</td>
									<td>1</td>
								</tr>
							</tbody>
						</thead>
					</table>
			  </dd>
			  <dt>Macierz porównań decyzji dla kryterium wykonanie:</dt>
			  <dd>
					<table class="table table-bordered table-hover matrix">
						<thead>
							<tr>
								<th></th>
								<th>BlackBerry Z10</th>
								<th>IPhone 5</th>
								<th>Samsung Galaxy S4</th>
								<th>Sony Xperia Z</th>
							</tr>
							<tbody>
								<tr>
									<th>BlackBerry Z10</th>
									<td>1</td>
									<td>1/2</td>
									<td>3</td>
									<td>7</td>
								</tr>
								<tr>
									<th>IPhone 5</th>
									<td>2</td>
									<td>1</td>
									<td>3</td>
									<td>5</td>
								</tr>
								<tr>
									<th>Samsung Galaxy S4</th>
									<td>1/3</td>
									<td>1/3</td>
									<td>1</td>
									<td>3</td>
								</tr>
								<tr>
									<th>Sony Xperia Z</th>
									<td>1/7</td>
									<td>1/5</td>
									<td>1/3</td>
									<td>1</td>
								</tr>
							</tbody>
						</thead>
					</table>
			  </dd>
			  <dt>Macierz porównań decyzji dla kryterium wyświetlacz:</dt>
			  <dd>
					<table class="table table-bordered table-hover matrix">
						<thead>
							<tr>
								<th></th>
								<th>BlackBerry Z10</th>
								<th>IPhone 5</th>
								<th>Samsung Galaxy S4</th>
								<th>Sony Xperia Z</th>
							</tr>
							<tbody>
								<tr>
									<th>BlackBerry Z10</th>
									<td>1</td>
									<td>3</td>
									<td>7</td>
									<td>3</td>
								</tr>
								<tr>
									<th>IPhone 5</th>
									<td>1/3</td>
									<td>1</td>
									<td>3</td>
									<td>5</td>
								</tr>
								<tr>
									<th>Samsung Galaxy S4</th>
									<td>1/7</td>
									<td>1/3</td>
									<td>1</td>
									<td>1/3</td>
								</tr>
								<tr>
									<th>Sony Xperia Z</th>
									<td>1/3</td>
									<td>1/5</td>
									<td>3</td>
									<td>1</td>
								</tr>
							</tbody>
						</thead>
					</table>
			  </dd>
			</dl>

			<hr class="bs-docs-separator">
			
			<p class="justify">
				Kolejnym krokiem algorytmu jest policzenie macierzy unormowanych.
			</p>


		</div>
	</section>

{% endblock %}